body {
    background-color: #f8f8f8;
    margin: 100px;
}

/* Text styles */
h1 {
    color: rgb(0, 0, 0);opacity:0.8;
    font-size: 48px;
    font-family: "EB Garamond", serif;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    text-transform: uppercase;
}

p, ul {
    color: rgb(0, 0, 0);opacity:0.8;
    font-size: 24px; 
    font-family: "Open Sans", sans-serif;
}

a {
    color: #3b5c00;
}

/* Artwork */
#random-image {
    display: block;
    margin: 0 auto;
}

/* Side panel */
.side-panel {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(0, 0, 0);opacity:0.8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the panel */
}

/* Side panel element */
.side-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
}

.side-panel a:hover {
    color: #3b5c00;
}

/* Site title */
.site-title a {
    margin: 8px auto;
    font-size: 48px;
    font-family: "EB Garamond", serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Get random artwork button */
.random-button {
    margin: 8px 8px 32px 32px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.random-button:hover {
    background-color: #3b5c00;
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.side-panel .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

/* Position and style the close button (top right corner) */
.open-button {
    position: absolute;
    top: 3px;
    right: 31px;
    font-size: 44px;
    margin-right: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the side panel (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .side-panel {padding-top: 15px;}
  .side-panel a {font-size: 18px;}
}