body {
    background-color: #f8f8f8;
    margin: 0;
}

/* Text styles */
h1 {
    color: rgba(0, 0, 0, .8);
    font-size: 48px;
    font-family: "Rufina", serif;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-family: "Rufina", serif;
    font-weight: 500;
    text-transform: uppercase;
}

p, ul {
    color: #000;
    font-size: 24px; 
    font-family: "Karla", sans-serif;
}

a {
    color: #3b5c00;
}

#main {
    position: relative;
}

#main.home {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.content {
    padding: 50px;
 }

@media screen and (min-width: 992px) {
    #main {
        width: calc(100% - 325px);
    }

    #main.home {
       transition: 0.5s; 
    }
}

@media screen and (max-width: 991px) {
    #main.home {
       width: calc(100% - 0px) !important;
    }
}

/* Artwork */
#random-image {
    display: block;
    position: absolute;
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);
}

/* Side panel */
.side-panel {
    height: 100%; /* 100% Full-height */
    width: 325px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #171717;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the panel */
}

.side-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    font-family: "Karla", sans-serif;
}

.side-panel a:hover {
    color: #3b5c00;
}

.open-button, 
.close-button {
    cursor: pointer;
}
  
/* Small screens */
@media screen and (max-width: 991px) {
    .side-panel {
        width: 100%;
    }
}

/* Site title */
.site-title a {
    margin: 8px auto;
    font-size: 48px;
    font-family: "Rufina", serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Button styles */
button {
    margin: 8px 8px 32px 32px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Karla", sans-serif;
}

.random-button:hover {
    background-color: #3b5c00;
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.side-panel .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Position and style the close button (top right corner) */
.open-button {
    position: absolute;
    top: 3px;
    right: 31px;
    font-size: 44px;
}
