{% extends "layout.html" %}
{% block main %}
<div id="main">
  <div class="content">
    <h1>About</h1>
    <p>Welcome to Slow Art Online, an art viewer inspired by <a href="https://www.slowartday.com/">Slow Art Day</a>, featuring art from <a href="https://www.metmuseum.org/">The Metropolitan Museum of Art</a> in New York City.</p>
    <p>You can use this site to learn something new, to meditate, to spark ideas as a creative writing prompt, or to find an artwork to visit in person. Explore the <a href="/reading-room">reading room</a>. Spend time with the art.</p>
    <p>Take your time.</p>
  </div>
</div>
<div id="side-panel" class="side-panel">
  <a href="javascript:void(0)" class="close-button" onclick="closePanel()">&times;</a>
  <a href="/"><img src="static/images/slow-art-online-logo.svg" alt="Slow Art Online" width="250px"></a>
  <nav>
      <a href="/about">About</a>
      <a href="/reading-room">Reading Room</a>
  </nav>
</div>
{% endblock %}