<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <title>Slow Art Online</title>
</head>
<body>
    {% block main %}{% endblock %}
    <span class="open-button" onclick="openPanel()">&equiv;</span>
</body>
<script src="/static/scripts.js"></script>
</html>