<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
    <title>Slow Art Online</title>
</head>
<body>
    {% block main %}{% endblock %}
        <div id="side-panel" class="side-panel">
            <a href="javascript:void(0)" class="close-button" onclick="closePanel()">&times;</a>
            <h1 class="site-title"><a href="/"></a>Slow Art Online</a></h1>
            <button id="getRandomButton" class="random-button">Get random image</button>
            <nav>
                <a href="/about">About</a>
                <a href="/reading-room">Reading Room</a>
            </nav>
      </div>
    <span class="open-button" onclick="openPanel()">&equiv;</span>
</body>
<script src="/static/scripts.js"></script>
</html>