{% extends "layout.html" %}
{% block main %}
<div id="main">
  <div class="content">
    <h1>Reading Room</h1>
    <p>Welcome to the Slow Art Online reading room, where you can discover further reading about The Met and Slow Art Day.</p>
    <h2>Books</h2>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/From_the_Mixed-Up_Files_of_Mrs._Basil_E._Frankweiler">The Mixed-Up Files of Mrs. Basil E. Frankweiler</a></li>
      <li><a href="https://en.wikipedia.org/wiki/The_Goldfinch_(novel)">The Goldfinch</a></li>
      <li><a href="https://www.npr.org/2023/02/14/1156479714/patrick-bringley-memoir-all-the-beauty-in-the-world-art-appreciation-the-met">All the Beauty in the World: The Metropolitan Museum of Art and Me</a></li>
    </ul>
    <h2>Links</h2>
    <ul>
      <li><a href="https://www.slowartday.com/">Slow Art Day</a></li>
      <li><a href="https://www.metmuseum.org/">The Metropolitan Museum of Art</a></li>
    </ul>
  </div>
</div>
<div id="side-panel" class="side-panel">
  <a href="javascript:void(0)" class="close-button" onclick="closePanel()">&times;</a>
  <a href="/"><img src="static/images/slow-art-online-logo.svg" alt="Slow Art Online" width="250px"></a>
  <nav>
      <a href="/about">About</a>
      <a href="/reading-room">Reading Room</a>
  </nav>
</div>
{% endblock %}