{% extends "layout.html" %}
{% block main %}
  <h1>Reading Room</h1>
  <p>Welcome to the Slow Art Online Reading Room, where you can discover further reading about The Met and Slow Art Day.</p>
  <h2>Books</h2>
  <ul>
    <li>The Mixed-Up Files of Mrs. Basil E. Frankweiler</li>
    <li>The Goldfinch</li>
    <li>All the Beauty in the World: The Metropolitan Museum of Art and Me</li>
  </ul>
  <h2>Links</h2>
  <ul>
    <li><a href="https://www.slowartday.com/">Slow Art Day</a></li>
    <li><a href="https://www.metmuseum.org/">The Metropolitan Museum of Art</a></li>
  </ul>
{% endblock %}